body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #3e3d3d;
}

p {
  color: #3e3d3d;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

/* button CSS */

.btn-primary[disabled],
.btn-default[disabled],
.btn-primary[disabled]:hover,
.btn-default[disabled]:hover {
  background-color: #83abeb;
}

.btn-primary,
.btn-default {
  background-color: #73a1ea;
}

.btn-primary:hover,
.btn-default:hover {
  background-color: #2464bc;
}

/* loader CSS */

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 10px solid #d4e3fb;
  border-radius: 50%;
  border-top: 10px solid #73a1ea;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); border-top: 10px solid #73a1ea; }
  100% { transform: rotate(360deg); border-top: 10px solid #ef8e78; }
}